.root {
    -fx-background-color: linear-gradient(to bottom, #0d0d0d, #1a1a1a);
    -fx-font-family: "Cinzel";
}

.label {
    -fx-text-fill: #e0e0e0;
}

.text-field {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #ffffff;
    -fx-border-color: #444;
    -fx-background-radius: 5;
}

.button {
    -fx-background-color: #2e2e2e;
    -fx-text-fill: #f8f8f8;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.progress-bar .bar {
    -fx-background-color: linear-gradient(to right, #4caf50, #256d34);
}

.separator {
    -fx-border-color: #444;
}
